@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.web-logo{
    width: 6rem;

}

body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#icon{
    width: 30px;
    cursor: pointer;
}


.dark-mode {
    background-color: black;
    color: white;
  }


/* Search Box */


.search-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 60px;
}


.search-box:hover > .search-btn{
    background: white;
}


.search-txt{
    background: none;
    border: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 20px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}


.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}

.navbar-brand img{
   margin-left: -200px;
}

.sr{
    margin-left: -400px;
    font-size: 25px;
}



.body{
    /* background-color: aliceblue; */
    background-color: var( --secondary-color);
}

.test :hover{
    transform: translateY(-15px);

}

.sr{
    margin-top: 20px;
}





.container-1{
    max-width: 1170px;
    /* background-color: red; */
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 25px;
}

.footer-col h4{
    font-size: 24px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #fa0606;
    /* background-color: #e91e63; */
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.foster-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;

}

.Copyright{
    text-align: center;
    color: red;
    font-weight: 400;
    margin-top: 20px;
margin-bottom: -40px;
}





.footer hr{
    border: none;
    background: #ffffff;
    height: 1px;
    margin: 20px 0;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}


@media(max-width: 767px){
    .footer-col{
        width: 50%;
        padding: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
        
    }
}
























 